* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  
}
body{
    display: flex;
    justify-content: center;
     align-items: center;
     background-color: rgb(8, 7, 8);
     height: 100vh;
}
h1 {
  
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
}
.main {
     height: 700px;
    width: 1000px;
    background-color: brown;
    border-radius: 10px;
    font-size: 20px;

}
.innerP {
 
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    width: 700px;
   margin-left: 150px;
   margin-top: 50px;

}
#BA {
   padding: 8px 5px;
}
#TP {
    padding: 8px 5px;
}
#btn {
    padding: 8px 5px;
    border-radius: 20px;
}
#reflect>#cong{

    width: 1000px;
    text-align: center;
    
    
}
#recal {

    padding: 10px 10px;
    height: 50px;
    width: 300px;
    margin-left: 350px;
  
}
#reflect {
height: 300px;
display: flex;

 justify-content: space-around;
flex-direction: column;

   
    
}
#re {
    margin-top: 20px;
    height: 50px;
    width: 1000px;
    
    text-align: center;
    
 
}
.main2 {
 
  width: 1000px;
  
}
