* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
     align-items: center;
     background-color: rgb(8, 7, 8);
     height: 100vh;
}
.main {
    height: 700px;
    width: 1000px;
    background-color: brown;
    border-radius: 10px;
}